<launch>
  <node pkg="base_controller" type="controller" name="controller" output="screen">
  </node>

  <node pkg="odometry" type="odometry" name="odometry" output="screen">
  </node>

  <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
    <param name="image_width" type="int" value="320" />
    <param name="image_height" type="int" value="240" />
    <param name="framerate" type="int" value="3" />
    <param name="pixel_format" type="string" value="yuyv" />
  </node>

</launch>
